<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Pro0072006/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Pro0072006" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>